.header {
    top:0;
    width: 100%;
    background-color: $salmon;
    font-family: $anton;
    font-weight: 400;
    color: #555;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    line-height: 7.2rem; // padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

.header_responsive {
    transition: height 0.25s ease-in;
}

.header_normal {
    height: 7.2rem;
    transition: height 0.25s ease-out;
}

.links_responsive_hidden {
    display: none
}

.links_normal {
    display: block;
}

.header_icon {
    margin-right: auto;
    left: 0;
    display: none;
    text-decoration: none;
    color: #efefef;
    padding: 0 1rem;
    margin: 0 0.6rem 0 0;
    font-size: 2rem;
}

.header_links {
    text-decoration: none;
    color: #efefef;
    padding: 0 1rem;
    margin: 0 0.6rem 0 0;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.header_links:hover {
    background: darken($salmon, 10%);
}

.header_userleft {
    display: none;
    color: #efefef;
}

.header_userright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left:auto;
    align-items: center;
    text-align: right; //this is to send the text to the right.
    margin-right: 4rem;
    color: #efefef;
}

.header_image {
    width: 4rem;
    height: 4rem;
    border: 0rem;
    border-radius: 0.4rem;
    line-height: normal;
    margin: 0 2rem;
}

.header>a:hover {
    background-color: darken($salmon, 5%);
}

@media screen and (max-width: $mobile) {
    .header,
    .header_responsive {
        overflow: hidden;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top:0;
    }
    .header_userleft {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
       
    }
    .name_pic{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left:auto;
    }
    .header_userright {
        display: none;
    }
    .header_links {
        // display: none;
        // position:relative;
        align-self: flex-start;
        cursor: pointer;
        width: 100%;
        border-top: 1px solid lighten($salmon,10%);
    }
    .header_icon {
        display: block;
    }
    .links_normal {
        display: none;
    }
    .links_responsive_visible{
        display: contents;
       
    }
}