.match{
    margin:1rem;
    background: $dark_gray;
    max-width: 45rem;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 3px 1px -2px rgba(0,0,0,0.3), 0 1px 5px 0 rgba(0,0,0,0.2);
    font-family: 'Anton', 'sans-serif';
    color: #555555;
    padding:1rem;
    height:14.2rem;
    
}

.match_top{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height:12rem;
    
}

.match_top::after{
    
}

.match__finished{
    height:20.7rem;
}

.match_score{
    font-size: 4.8rem;
    color: $salmon;
    margin-left:3rem;

}

.match_team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

.match_country{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img{
        width: 5.4rem;
        height: 3.2rem;
        margin: 0 0 0.5rem 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2)
    }

    p {
        margin:0;
        padding:0;
       font-size: 2.4rem;
       

    }

}

.match_center{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
        margin:0;
        font-size: 2rem;
    }
    .vs{
        font-size: 1.8rem;
        color:$salmon;
    }
    .time{
        font-size: 1.8rem;
        
    }
}