@import url('https://fonts.googleapis.com/css?family=Anton');
$dark_gray: rgba(#d1d1d1, 0.5);
$light_gray: rgba(#f8f8f8, 0.4);
$light_gray_nt: rgba(#f8f8f8, 1);
// $salmon: #f75a6a; //salmon claro
$salmon: #0288d1; //azul
// $salmon: #e65100; //naranja
// $salmon: #ff5252; //salmon
// $salmon: #c62828; //rojo vinotinto
// $salmon: #880e4f; //uva

$lime_green: #79a70a;
$lime_green_light: #9bc90d;
$font_gray: #555555;
$card_gray: rgba(#d8d8d8, 0.5);

//fonts
$anton: 'Anton', 'sans-serif';

//screen size
$mobile: 639px;
$mobile_wide: 475px;
