@import url('https://fonts.googleapis.com/css?family=Anton');
$dark_gray: #D1D1D1;
$light_gray: #ededed;
$salmon:#F75A6A;
$lime_green:#79A70A;
$lime_green_light:#9BC90D;



//fonts
$anton:'Anton', 'sans-serif';